@model JOBTIND21.Dominio.Empresa
@{
    ViewData["Title"] = "GuardEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet"
      href="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js>" />

<script src="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous"></script>

@using (Html.BeginForm("GuardEmpresa", "Home", FormMethod.Post))
{

    <div class="text-center">
        <h1 style="color: cornflowerblue" class=" animate__animated animate__jello">Registro de Datos</h1>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


        <style>
            h1 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 35px;
                color: firebrick
            }
        </style>
    </div>
    <div class="form-group col-md-8">
        <i class="fa-solid fa-input-text"></i>
        <label style="color: salmon">Nombre de Empresa</label>
        <br />
        @Html.TextBoxFor(m => m.Nombre_Empresa)
        @Html.ValidationMessageFor(m => m.Nombre_Empresa)
        <br />
        <br />

        <br />
        <i class="fa-solid fa-phone-plus"></i>
        <label style="color: salmon">Telefono</label>
        <br />
        @Html.TextBoxFor(m => m.TelefonoEmp)
        @Html.ValidationMessageFor(m => m.TelefonoEmp)
        <br />
        <br />

        <i class="fa-solid fa-circle-envelope"></i>
        <label style="color: salmon">E-mail</label>
        <br />
        @Html.TextBoxFor(m => m.EmailEmp)
        @Html.ValidationMessageFor(m => m.EmailEmp)
        <br />
        <br />


        <i class="fa-solid fa-key"></i>
        <label style="color: salmon">Contraseña</label>
        <br />
        @Html.TextBoxFor(m => m.ContraseñaEmp)
        @Html.ValidationMessageFor(m => m.ContraseñaEmp)
        <br />
        <br />


        <i class="fa-solid fa-user-helmet-safety"></i>
        <label style="color: salmon">Vacante</label>
        <br />
        @Html.TextBoxFor(m => m.Vacante)
        @Html.ValidationMessageFor(m => m.Vacante)
        <br />
        <br />

        <i class="fa-thin fa-id-badge"></i>
        <label style="color: salmon">Categoria</label>
        <br />
        @Html.TextBoxFor(m => m.CategoriaID)
        @Html.ValidationMessageFor(m => m.CategoriaID)
        <br />
        <br />
        <i class="far fa-save fa-2x"></i>
        <input type="submit" class="btn btn-outline-success animate_animated animate_backInDown" value="Guardar">
        <br>

    </div>
}

