@model JOBTIND21.Dominio.Usuario
@{
    ViewData["Title"] = "Guardado";
}

<link rel="stylesheet"
      href="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js>" />

<script src="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous"></script>


<div class="container-fluid formulario" style="max-width:inherit;">

    @using (Html.BeginForm("Guardado", "Home", FormMethod.Post))
    {

    <div class="text-center">
        <h1 style="color: cornflowerblue" class=" animate__animated animate__jello">Registro de Datos</h1>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


        <style>
            h1 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 35px;
                color: firebrick
            }
        </style>
    </div>
        <div class="form-group col-md-8">
            <i class="fa fa-input-text"></i>
            <label style="color: salmon">Nombres</label>
            <br />
            @Html.TextBoxFor(m => m.Nombres)
            @Html.ValidationMessageFor(m => m.Nombres)
            <br />
            <br />
            <i class="fa fa-file-signature"></i>
            <br />
            <label style="color: salmon">Apellido</label>
            <br />
            @Html.TextBoxFor(m => m.Apellidos)
            @Html.ValidationMessageFor(m => m.Apellidos)
            <br />
            <br />
            <i class="fa fa-file-signature"></i>
            <label style="color: salmon">Edad</label>
            <br />
            @Html.TextBoxFor(m => m.Edad)
            @Html.ValidationMessageFor(m => m.Edad)
            <br />
            <br />

            <i class="fa fa-address-card"></i>
            <label style="color: salmon">DUI</label>

            <br />
            @Html.TextBoxFor(m => m.DUI)
            @Html.ValidationMessageFor(m => m.DUI)
            <br />
            <br />

            <i class="fa fa-phone"></i>
            <label style="color: salmon">Telefono</label>
            <br />
            @Html.TextBoxFor(m => m.Telefono)
            @Html.ValidationMessageFor(m => m.Telefono)
            <br />
            <br />

            <i class="fa fa-at"></i>
            <label style="color: salmon">E-mail</label>
            <br />
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            <br />
            <br />
            <i class="fa fa-lock"></i>
            <label style="color: salmon">Contraseña</label>
            <br />
            @Html.TextBoxFor(m => m.Contraseña)
            @Html.ValidationMessageFor(m => m.Contraseña)
            <br />
            <br />
            <br />
            <i class="far fa-save fa-2x"></i>
            <input type="submit" class="btn btn-outline-success animate_animated animate_backInDown" value="Guardar">
            <br>
        </div>
     }
</div>
