@model JOBTIND21.Dominio.Anuncio
@{
    ViewData["Title"] = "SaveAnuncio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet"
      href="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js>" />

<script src="https://kit.fontawesome.com/ffd11ebe0f.js" crossorigin="anonymous"></script>



@using (Html.BeginForm("SaveAnuncio", "Home", FormMethod.Post))
{
    <div class="text-center">
        <h1 style="color: cornflowerblue" class=" animate__animated animate__jello">Registro de Datos</h1>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


        <style>
            h1 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 35px;
                color: firebrick
            }
        </style>
    </div>
    <div class="form-group col-md-8">
        <label style="color: salmon">Anuncio</label>
        <br />
        <i class="fa-solid fa-bullhorn"></i>
        @Html.TextBoxFor(m => m.Anuncios)
        @Html.ValidationMessageFor(m => m.Anuncios)
        <br />

        <label style="color: salmon">Usuario</label>
        <br />
        <i class="fa-regular fa-user"></i>
        @Html.TextBoxFor(m => m.UsuarioID)
        @Html.ValidationMessageFor(m => m.UsuarioID)
        <br />
        <br />
        <label style="color: salmon">Codigo Id de Empresa</label>
        <br />
        <i class="fa-thin fa-id-badge"></i>
        @Html.TextBoxFor(m => m.EmpresaID)
        @Html.ValidationMessageFor(m => m.EmpresaID)
        <br />
        <br />
        <br />
        <i class="far fa-save fa-2x"></i>
        <input type="submit" class="btn btn-outline-success animate_animated animate_backInDown">
        <br>
    </div>
 }

